@model KwikMedical.Models.Ambulance

<h1>Create New Ambulance</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="HospitalId" class="control-label">Select Hospital</label>
        <select asp-for="HospitalId" class="form-control" asp-items="ViewBag.HospitalId"></select>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>

