@model KwikMedical.Models.MedicalRecord

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MedicalRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="LaboratoryReports" class="control-label"></label>
                <input asp-for="LaboratoryReports" class="form-control" />
                <span asp-validation-for="LaboratoryReports" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelephoneCalls" class="control-label"></label>
                <input asp-for="TelephoneCalls" class="form-control" />
                <span asp-validation-for="TelephoneCalls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Xrays" class="control-label"></label>
                <input asp-for="Xrays" class="form-control" />
                <span asp-validation-for="Xrays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Letters" class="control-label"></label>
                <input asp-for="Letters" class="form-control" />
                <span asp-validation-for="Letters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PrescriptionCharts" class="control-label"></label>
                <input asp-for="PrescriptionCharts" class="form-control" />
                <span asp-validation-for="PrescriptionCharts" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ClinicalNotes" class="control-label"></label>
                <input asp-for="ClinicalNotes" class="form-control" />
                <span asp-validation-for="ClinicalNotes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PatientId" class="control-label"></label>
                <select asp-for="PatientId" class ="form-control" asp-items="ViewBag.PatientId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
