@model KwikMedical.Models.EmergencyCall

<h2>Log New Emergency Call</h2>

<<form asp-action="Create" asp-controller="EmergencyCalls" method="post">
    <div class="form-group">
        <label for="NHSNumber">Patient's NHS Number</label>
        <input type="text" id="NHSNumber" name="NHSNumber" class="form-control" required />
    </div>
    <div class="form-group">
        <input type="submit" value="Log Call" class="btn btn-primary" />
    </div>
</form>
